<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body style="background-image: url('img/food.jpg'); background-repeat: no-repeat; background-size: 100%; background-position: left bottom;">
    <% include ../partials/nav %>
    <div class="container home home-welcome">
        <div class="jumbotron">
          <h2>Recipe Blog</h2>
          <h1>About</h1>
          <h2>레시피 정보를 공유하는 사이트입니다</h2>
        </div>
      </div>
  </body>
</html>
