<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <body style="background-image: url('img/food.jpg'); background-repeat: no-repeat; background-size: 100%; background-position: left bottom;" >
  </head>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h2>MAKING THE BEST</h2>
        <h1>RECIPE FOR FOOD</h1>
        <h2>Show Your Recipe</h2>
      </div>
    </div>
  </body>
</html>
